<h1>Atualizar <%= @promotion.name %></h1>

<% if @promotion.errors.any? %>
    <h2>Não foi possível editar esta Promoção, encontramos algun(s) erro(s):</h2>
    <ul>
        <% @promotion.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<%= render "form" %>